<%= stylesheet_link_tag 'registrationModel' %>

  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div id="img-success">
          <%= image_tag "success.png", class: "size-logo" ,id:"icon-success" %>    
        </div>
        <div class="model-text-box">
          <h4>
          Thank you for submitting your request. 
          </h4>
          <p>Please allow 1-2 days for a response.</p>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "/lobby", id: "btn-login" , class:"btn btn-friendlog" , style:"width: unset; display: flex; justify-content: center; align-items: center;" do %>
                Back to login page
          <% end %>
      </div>
      </div>
    </div>
  </div>
