<%= stylesheet_link_tag 'login' %>
<div class="container-big">
  <div class="logo-odds">
    <%= image_tag "logo.png", class: "size-logo" %>
  </div>
  <div class="btn-container">
    <%= link_to @keycloak_url, id: "btn-login" do %>
      <div class="btn2">
        Log in with ODDS
      </div>
    <% end %>
  </div>
</div>
