<!-- Modal -->
<div id="myModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white p-6 rounded-lg w-1/3">
    <div class="flex justify-between items-center">
      <h5 class="text-lg font-bold">Modal title</h5>
      <button id="closeModal" class="text-gray-500 hover:text-gray-800">&times;</button>
    </div>
    <div class="mt-4">
      <!-- Modal body content -->
      <p>Your content goes here.</p>
      <!-- Example form -->
      <form class="mt-4">
        <!-- Time Start -->
        <div class="flex items-center space-x-5 justify-center">
          <div class="w-full max-w-md">
            <select data-reserves-target="optionsStart" id="startTime" class="border border-gray-300 text-gray-600 text-xl font-medium rounded-lg block w-full p-3">
                <%# stimulus will replaced this with <option> tag %>
            </select>

          </div>
          <div class="text-gray-500">To</div>
          <div class="w-full max-w-md">
            <select data-reserves-target="optionsEnd" id="endTime" class="border border-gray-300 text-gray-600 text-xl font-medium rounded-lg block w-full p-3">
                <%# stimulus will replaced this with <option> tag %>
            </select>
          </div>
        </div>
        <!-- Note -->
        <div class="mt-6">
          <label for="reservation" class="block mb-2 text-normal font-medium text-gray-500">Reservation Note</label>
          <textarea id="reservation" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" placeholder="Type your reservation note..."></textarea>
        </div>
      </form>
    </div>
    <div class="mt-6 flex justify-between space-x-4">
      <button id="cancelButton" type="button" class="inline-flex justify-center rounded-md border border-transparent bg-gray-100 px-5 py-3 text-sm font-medium text-gray-600 hover:bg-gray-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2">
        Cancel
      </button>
      <button id="confirmButton" type="button" class="inline-flex justify-center rounded-md border border-transparent bg-blue-100 px-5 py-3 text-sm font-medium text-gray-600 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2">
        Confirm
      </button>
    </div>
  </div>
</div>
