<h1>Pages#home</h1>
<h2>Wisanu<h2>
<i class="fa-brands fa-font-awesome" style="color: black;"></i>
<i class="fa-solid fa-house"  style="color: black;"></i>

<h1 class="text-3xl font-bold underline text-blue-600">
    Hello world!
</h1>

