<!-- app/views/roomdetails/_blueprint.html.erb -->
<% if selected_room_id.present? %>
  <div>
    <!-- Blueprint Image and SVG Map -->
    <div class="relative w-auto h-auto">
      <%= image_tag 'svgMap/blueprint5.svg', alt: 'Blueprint', width: 2500, height: 1500, class: 'relative top-0 left-0 w-full h-full object-cover z-10', onclick: 'openModal()' %>
      <svg
        viewBox="0 0 2500 1500"
        class="absolute top-0 left-0 w-full h-full object-cover z-0"
        onclick="openModal()">
        <rect
          name="meeting1"
          x="1270"
          y="767.5"
          width="200"
          height="125"
          fill="<%= selected_room_id == 1 ? '#60a5fa' : '#f5f5f5' %>"/>
        <text
          x="1370"
          y="827.5"
          fill="<%= selected_room_id == 1 ? '#FFFFFF' : '#000000' %>"
          text-anchor="middle"
          alignment-baseline="middle"
          font-size="28"
          font-weight="bold">
          MEETING 1
        </text>
        <!-- Add other rectangles and text elements here with similar logic -->
      </svg>
    </div>

    <!-- Modal -->
    <div id="blueprint-modal" class="fixed inset-0 z-50 hidden flex items-center justify-center bg-black bg-opacity-75" onclick="closeModal()">
      <div class="relative bg-white p-16 rounded-3xl cursor-zoom-in transition-transform duration-300">
        <%= image_tag 'svgMap/blueprint5.svg', width: 1000, height: 500, alt: 'map', class: 'relative object-contain z-10', onclick: 'toggleZoom()' %>
        <svg
          viewBox="0 0 2500 1500"
          class="absolute top-0 left-0 w-full h-full object-contain z-0">
          <!-- Same SVG elements as above -->
        </svg>
        <button class="absolute top-2 right-2 text-black text-4xl pe-5" onclick="closeModal()">
          &times;
        </button>
      </div>
    </div>

    <!-- JavaScript for modal functionality -->
    <script type="text/javascript">
      function openModal() {
        document.getElementById('blueprint-modal').classList.remove('hidden');
      }

      function closeModal() {
        document.getElementById('blueprint-modal').classList.add('hidden');
      }

      function toggleZoom() {
        const modalContent = document.querySelector('#blueprint-modal .relative');
        modalContent.classList.toggle('scale-125');
      }
    </script>
  </div>
<% end %>
