<!-- app/views/roomdetails/_blueprint.html.erb -->
<% if selected_room_id.present? %>
  <div>
    <!-- Blueprint Image and SVG Map -->
    <div class="relative w-auto h-auto">
    <%= image_tag 'blueprint.svg', alt: 'Blueprint', class: 'relative top-0 left-0 w-full h-full object-cover z-10 cursor-pointer', onclick: 'openModal()' %>
      
    </div>

    <!-- Modal -->
    <div id="blueprint-modal" class="fixed inset-0 z-50 hidden flex items-center justify-center bg-black bg-opacity-75" onclick="closeModal()">
      <div class="relative bg-white p-16 rounded-3xl cursor-zoom-in transition-transform duration-300">
        <%= image_tag 'blueprint.svg', width: 1000, height: 500, alt: 'map', class: 'relative object-contain z-10', onclick: 'toggleZoom()' %>
        <svg
          viewBox="0 0 2500 1500"
          class="absolute top-0 left-0 w-full h-full object-contain z-0">
          <!-- Same SVG elements as above -->
        </svg>
        <button class="absolute top-2 right-2 text-black text-4xl pe-5" onclick="closeModal()">
          &times;
        </button>
      </div>
    </div>

    <!-- JavaScript for modal functionality -->
    <script type="text/javascript">
      function openModal() {
        document.getElementById('blueprint-modal').classList.remove('hidden');
      }

      function closeModal() {
        document.getElementById('blueprint-modal').classList.add('hidden');
      }

      function toggleZoom() {
        const modalImage = document.querySelector('#blueprint-modal .relative img');
        modalImage.classList.toggle('scale-125');
      }
    </script>
  </div>
<% end %>
